<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
    <div class="inner">

        <section id="search" class="alt">
            <form method="get" action="#">
                <li>
                    <ul>
                        <li th:if="${session.loginMember == null}"><a href="/login-form">로그인</a></li>
                        <li th:if="${session.loginMember != null}"><a href="/logout">로그아웃</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/">메인 페이지</a>
                        </li>
                    </ul>
                </li>
            </form>
        </section>

        <nav id="menu">
            <ul th:if="${session.memberType == null}">
                <div>
                    <li><a href="/inquiry-board">문의 게시판</a></li>
                    <li><a href="shortcodes.html">과목 검색</a></li>
                </div>
            </ul>
            <ul th:if="${session.memberType == T(com.yoo.lms.domain.enumType.MemberType).STUDENT}">
                <div th:if="${session.sideBarType} == 'home'">
                    <li><a href="/inquiry-board">문의 게시판</a></li>
                    <li>
                        <span class="opener">수강 과목</span>
                        <ul>
                            <li th:each="course : ${session.courseListDtos}">
                                <a th:href="@{/courses/{courseId}(courseId=${course.id})}" th:text="${course.name}"></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/student/enroll-courses">수강 신청</a></li>
                    <li>
                        <span class="opener">마이페이지</span>
                        <ul>
                            <li>
                                <a href="/my-page/password-check-form">개인 정보 수정</a>
                                <a href="/my-page/my-attendances">지난 출석 확인</a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div th:if="${session.sideBarType} == 'course'">
                    <li><a th:href="@{/courses/{courseId}/course-board(courseId=${session.courseId})}">공지사항</a></li>
                    <li><a th:href="@{/courses/{courseId}/question-board(courseId=${session.courseId})}">질문 게시판</a></li>
                    <li><a th:href="@{/courses/{courseId}/homework-board(courseId=${session.courseId})}">과제 게시판</a></li>
                    <li><a th:href="@{/courses/{courseId}/course-board(courseId=${session.courseId})}">출석</a></li>
                </div>
            </ul>

            <ul th:if="${session.memberType == T(com.yoo.lms.domain.enumType.MemberType).TEACHER}">
                <div th:if="${session.sideBarType} == 'home'">
                    <li><a href="/inquiry-board">문의 게시판</a></li>
                    <li>
                        <span th:if="${session.acceptType == T(com.yoo.lms.domain.enumType.AcceptType).ACCEPTED}" class="opener">강의 과목</span>
                        <ul>
                            <li th:each="course : ${session.courseListDtos}">
                                <a th:href="@{/courses/{courseId}(courseId=${course.id})}" th:text="${course.name}"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">마이페이지</span>
                        <ul>
                            <li>
                                <a href="/my-page/password-check-form">개인 정보 변경</a>
                                <a href="/my-page/courses">강의 등록 신청 현황</a>
                                <a th:if="${session.acceptType != T(com.yoo.lms.domain.enumType.AcceptType).ACCEPTED}"
                                   href="/my-page/teacher-application">강사 허가 신청 현황</a>
                            </li>
                        </ul>
                    </li>

                </div>
                <div th:if="${session.sideBarType} == 'course'">
                    <li><a th:href="@{/courses/{courseId}/course-board(courseId=${session.courseId})}">공지사항</a></li>
                    <li><a th:href="@{/courses/{courseId}/question-board(courseId=${session.courseId})}">질문 게시판</a></li>
                    <li><a th:href="@{/courses/{courseId}/homework-board(courseId=${session.courseId})}">과제 게시판</a></li>
                    <li><a th:href="@{/courses/{courseId}/attendance(courseId=${session.courseId})}">출석</a></li>
                </div>
            </ul>


            <ul th:if="${session.memberType == T(com.yoo.lms.domain.enumType.MemberType).ADMIN}">
                <div th:if="${session.sideBarType} == 'home'">
                    <li><a href="/inquiry-board">문의 게시판</a></li>
                    <li>
                        <a href="/admin/course-apply">과목 신청 현황</a>
                    </li>
                    <li>
                        <a href="/admin/teacher-applications">강사 신청 현황</a>
                    </li>
                </div>
            </ul>
        </nav>


        <footer id="footer">
            <p class="copyright">Copyright &copy; 2019 Company Name
                <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
        </footer>

    </div>
</html>

