  <div class="inner">

        <!-- Search Box -->
        <!-- 수강 / 강의 중인 과목 selectBox 넣자 -->
        <section id="search" class="alt">
            <form method="get" action="#">
                <li>
                    <span class="opener">Dropdown One</span>
                    <ul>
                        <li><a href="#">First Sub Menu</a></li>
                        <li><a href="#">Second Sub Menu</a></li>
                        <li><a href="#">Third Sub Menu</a></li>
                    </ul>
                </li>
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="simple_page.html">Simple Page</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li>
                    <span class="opener">Dropdown One</span>
                    <ul>
                        <li><a href="#">First Sub Menu</a></li>
                        <li><a href="#">Second Sub Menu</a></li>
                        <li><a href="#">Third Sub Menu</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Dropdown Two</span>
                    <ul>
                        <li><a href="#">Sub Menu #1</a></li>
                        <li><a href="#">Sub Menu #2</a></li>
                        <li><a href="#">Sub Menu #3</a></li>
                    </ul>
                </li>
                <li><a href="https://www.google.com">External Link</a></li>
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Copyright &copy; 2019 Company Name
                <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
        </footer>

    </div>
