<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<th:block layout:fragment="script">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <script type="text/javascript">
        $(function(){
            $("#fileUpload").change(function(){
                fileList = $("#fileUpload")[0].files;
                fileListTag = '';
                for(i = 0; i < fileList.length; i++){
                    fileListTag += "<li>"+fileList[i].name+"</li>";
                }
                $('#fileList').html(fileListTag);
            });
        });
    </script>
</th:block>

<body class="is-preload">

<div id="wrapper">

    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="index.html">LMS System</a>
                </div>
            </header>
            <div th:text="${menuTitle}"></div>
            <form action="new" method="post" enctype="multipart/form-data">
            <table class="table table-hover">
                <tr>
                    <th>제목</th>
                    <td><input th:name="title" class="board-title" /></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea th:name="content" class="board-content"></textarea></td>
                </tr>
            </table>
            <div>
                <table th:if="${canUploadFile}" class="table-hover">
                    <tr>
                        <th>첨부 파일</th>
                        <td><input type="file" id="fileUpload" th:name="files" multiple="multiple"></td>
                    </tr>
                    <tr>
                        <ul id="fileList"></ul>
                    </tr>
                </table>
            </div>

            <div>
                <button>등록</button>
            </div>
            </form>
            <button>취소</button>
        </div>
    </div>

    <div id="sidebar" th:include="layout/sideBar.html">

    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>


</body>

</html>
