<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Ramayana - HTML5 Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--
  Ramayana CSS Template
  https://templatemo.com/tm-529-ramayana
  -->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-style.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
</head>

<th:block layout:fragment="script">
  <script type="text/javascript">


  </script>
</th:block>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <div class="logo">
          <a href="index.html">LMS System</a>
        </div>
      </header>

      <!-- Tables -->
      <section class="tables">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2 th:text="${menuTitle}"></h2>
                <form th:action="@{${action}}" method="get">
                  <div>
                    <select th:name="searchType">
                      <option th:value="all">-------</option>
                      <option th:value="titleAndContent">제목+내용</option>
                      <option th:value="title">제목</option>
                      <option th:value="content">내용</option>
                      <option th:value="writer">작성자</option>
                    </select>
                    <input th:name="keyword"/>
                    <input type="hidden" th:name="page" th:value="1"/>
                    <button type="submit">검색</button>
                  </div>
                </form>
                <!--<button th:if="${canWritePosting}" th:onlick="|./${action}/new|">글 쓰기</button>-->
                <button type="submit" th:onclick="'location.href=\''+@{{boardType}/new(boardType=${action})}+'\';'">글 쓰기</button>
              </div>
              <div class="default-table">
                <table>
                  <thead>
                  <tr>
                    <th>글 번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="posting : ${postings}">
                    <td th:text="${posting.id}"></td>
                    <td >
                      <a th:text="${posting.title}" th:href="@{{boardType}/{postingId}(boardType=${action},postingId=${posting.id})}"></a>
                    </td>
                    <td th:text="${posting.createdBy}"></td>
                    <td th:text="${posting.createdDate}"></td>
                    <td th:text="${posting.viewCount}"></td>
                    <!--<td><a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
                           class="btn btn-primary" role="button">수정</a></td>-->
                  </tr>
                  </tbody>
                </table>
                <ul class="table-pagination">
                  <li th:if="${pageMaker.isPrev()}"><a th:href="@{{boardType}(boardType=${action},page=${pageMaker.getCurrentPage() - 1},searchType=${searchCriteria.searchType}, keyword=${searchCriteria.keyword})}">Previous</a></li>
                  <div th:each="page : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                    <li th:class="${page == pageMaker.getCurrentPage()} ? 'active' : ''">
                      <!--<a th:href="@{question(page=${page},searchType=${searchCriteria.searchType}, keyword=${searchCriteria.keyword})}">
                        <div th:text="${page}"></div>
                      </a>-->
                      <a th:href="@{{boardType}(boardType=${action},page=${page},searchType=${searchCriteria.searchType}, keyword=${searchCriteria.keyword})}">
                        <div th:text="${page}"></div>
                      </a>
                    </li>
                  </div>
                  <li th:if="${pageMaker.isNext()}"><a th:href="@{{boardType}(boardType=${action},page=${pageMaker.getCurrentPage()+1},searchType=${searchCriteria.searchType}, keyword=${searchCriteria.keyword})}">Next</a></li>
                </ul>
                <br>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" th:include="/layout/sideBar.html">

  </div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/js/joinValidation.js"></script>

</body>


</body>
</html>
