<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Ramayana - HTML5 Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--
  Ramayana CSS Template
  https://templatemo.com/tm-529-ramayana
  -->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-style.css">
  <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <div class="logo">
          <a href="index.html">LMS System</a>
        </div>
      </header>

      <!-- Tables -->
      <section class="tables">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>질문 게시판</h2>
              </div>
              <div class="default-table">
                <table>
                  <thead>
                  <tr>
                    <th>글 번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="posting : ${postings}">
                    <td th:text="${posting.id}"></td>
                    <td th:text="${posting.title}"></td>
                    <td th:text="${posting.createdBy}"></td>
                    <td th:text="${posting.createdDate}"></td>
                    <td th:text="${posting.viewCount}"></td>
                    <!--<td><a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
                           class="btn btn-primary" role="button">수정</a></td>-->
                  </tr>
                  </tbody>
                </table>
                <!--<div th:text="${pageMaker.startPage}"></div>-->
                <!--<li class="active"><a href="#">2</a></li>-->
                <ul class="table-pagination">
                  <li><a th:href="@{http://localhost:8080/111}">Previous</a></li>
                  <div th:each="page : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                  <li><a th:href="@{question(page=${page},searchType=${searchCriteria.searchType}, keyword=${searchCriteria.keyword})}">
                    <div th:text="${page}"></div>
                  </a></li>
                  </div>
                  <li><a href="#">Next</a></li>
                </ul>
                <form>
                <div>
                  검색 기준
                  <select name="searchType">
                    <option value="all">-------</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="writer">작성자</option>
                  </select>
                  <input/>
                  <button>검색</button>
                </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">

    <div class="inner">

      <!-- Search Box -->
      <!-- 수강 / 강의 중인 과목 selectBox 넣자 -->
      <section id="search" class="alt">
        <form method="get" action="#">
          <li>
            <span class="opener">Dropdown One</span>
            <ul>
              <li><a href="#">First Sub Menu</a></li>
              <li><a href="#">Second Sub Menu</a></li>
              <li><a href="#">Third Sub Menu</a></li>
            </ul>
          </li>
        </form>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <ul>
          <li><a href="index.html">Homepage</a></li>
          <li><a href="simple_page.html">Simple Page</a></li>
          <li><a href="shortcodes.html">Shortcodes</a></li>
          <li>
            <span class="opener">Dropdown One</span>
            <ul>
              <li><a href="#">First Sub Menu</a></li>
              <li><a href="#">Second Sub Menu</a></li>
              <li><a href="#">Third Sub Menu</a></li>
            </ul>
          </li>
          <li>
            <span class="opener">Dropdown Two</span>
            <ul>
              <li><a href="#">Sub Menu #1</a></li>
              <li><a href="#">Sub Menu #2</a></li>
              <li><a href="#">Sub Menu #3</a></li>
            </ul>
          </li>
          <li><a href="https://www.google.com">External Link</a></li>
        </ul>
      </nav>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">Copyright &copy; 2019 Company Name
          <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
      </footer>

    </div>
  </div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>


</body>

</html>
