<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a href="index.html">LMS System</a>
                </div>
            </header>
            <div th:text="${menuTitle}"></div>
            <table class="table table-hover">
                <tr>
                    <th>글번호</th>
                    <td th:text="${posting.getId()}"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td th:text="${posting.getTitle()}"></td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td th:text="${posting.getCreatedBy()}"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td></td>
                </tr>
            </table>
            <div>
            <button>수정</button>
            <button>삭제</button>
            </div>
        </div>

    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:include="layout/sideBar.html">

    </div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>


</body>

</html>
