<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Ramayana - HTML5 Template</title>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-style.css">
  <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<div id="wrapper">

  <div id="main">
    <div class="inner">
      <header id="header">
        <div class="logo">
          <a href="index.html">LMS System</a>
        </div>
      </header>
      <th:block layout:fragment="script">
        <script type="text/javascript">

          function enrollCourse(courseId) {


            let enrollForm = {
              courseId : courseId
            };

            $.ajax({
              type: "post",
              url: "/student/enroll-course",
              data: JSON.stringify(enrollForm),
              contentType: "application/json",
              dataType: "text",
              success: function(data) {

                if(data == "ok")
                  alert("수강 신청이 완료되었습니다.");
                else
                  alert("최대 수강인원을 초과했습니다.");

                location.href = "/student/enroll-courses";
              },
              error: function(request, status, error) {
                console.log("request : " + request);
                console.log("status : " + status);
                console.log("error : " + error);
              }
            });

          }

        </script>
      </th:block>
      <section class="tables">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>수강 신청</h2>
                <form action="/student/enroll-courses" method="get">
                  <table>
                    <tr>
                      <th>
                        <select name="category">
                          <option value="courseName">과목명</option>
                          <option value="teacherName">강사명</option>
                        </select>
                        <input name="keyword"/>
                      </th>
                      <th>
                        시작일
                        <input name="startDate" type="date">
                      </th>
                      <th>
                        종료일
                        <input name="endDate" type="date">
                      </th>
                      <th>
                        수강신청 가능 여부
                        <select name="acceptType">
                          <option th:value="${null}">전체</option>
                          <option th:value="${T(com.yoo.lms.domain.enumType.AcceptType).ACCEPTED}">가능</option>
                        </select>
                      </th>
                      <button type="submit">검색</button>
                    </tr>
                  </table>
                </form>
              </div>
              <div class="enroll-course-table">
                <table id="courseListTable">
                  <thead>
                    <tr>
                      <th>과목 명</th>
                      <th>강사 명</th>
                      <th>시작일</th>
                      <th>종료일</th>
                      <th>현재 수강 인원</th>
                      <th>최대 수강 인원</th>
                      <th>신청</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <tr th:each="course : ${courses}">
                      <td th:text="${course.name}"></td>
                      <td th:text="${course.teacher.name}"></td>
                      <td th:text="${course.startDate}"></td>
                      <td th:text="${course.endDate}"></td>
                      <td th:text="${course.currentNumStudent}"></td>
                      <td th:text="${course.maxNumStudent}"></td>

                      <td>
                        <button th:if="${#strings.equals(course.getAcceptType().toString(), 'ACCEPTED')
                                          and course.currentNumStudent < course.maxNumStudent
                                          and courseIds.contains(course.id) == false}" type="submit" th:onclick="|javascript:enrollCourse('${course.id}')|">신청</button>
                      </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div id="sidebar" th:include="layout/sideBar.html">

  </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>