<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Ramayana - HTML5 Template</title>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-style.css">
  <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<div id="wrapper">

  <div id="main">
    <div class="inner">
      <header id="header">
        <div class="logo">
          <a href="index.html">LMS System</a>
        </div>
      </header>

      <section class="tables">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2 th:text="${attendances.get(0).checkedDate}">haha</h2>
              </div>
              <div class="default-table">
                <table>
                  <thead>
                  <tr>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>출석일수</th>
                    <th>결석일수</th>
                    <th>지각일수</th>
                    <th>출석</th>
                    <th>결석</th>
                    <th>지각</th>
                  </tr>
                  </thead>
                  <tbody>
                  <form th:if="${attendances.get(0).attendanceType == null}" action="./" method="post">
                    <tr th:each="attendance, index : ${attendances}">
                      <td th:text="${attendance.studentName}"></td>
                      <td th:text="${attendance.birthDate}"></td>
                      <td th:text="${attendance.numAttendance}"></td>
                      <td th:text="${attendance.numAbsence}"></td>
                      <td th:text="${attendance.numLateness}"></td>

                    <td><input th:name="states+'['+${index.index}+'].attendanceType'" value="ATTENDANCE" type="radio" checked></td>
                    <td><input th:name="states+'['+${index.index}+'].attendanceType'" value="ABSENCE" type="radio"></td>
                    <td><input th:name="states+'['+${index.index}+'].attendanceType'" value="LATENESS" type="radio"></td>
                    <input th:name="states+'['+${index.index}+'].studentId'" th:value="${attendance.studentId}" hidden>
                  </tr>
                    <button type="submit">등록 완료</button>
                    </form>
                  <form th:if="${attendances.get(0).attendanceType != null}" th:action="@{../attendance(checkedDate=${checkedDate})}" th:method="put">
                    <tr th:each="attendance, index : ${attendances}">
                      <td th:text="${attendance.studentName}"></td>
                      <td th:text="${attendance.birthDate}"></td>
                      <td th:text="${attendance.numAttendance}"></td>
                      <td th:text="${attendance.numAbsence}"></td>
                      <td th:text="${attendance.numLateness}"></td>

                      <td><input th:name="states+'['+${index.index}+'].attendanceType'" value="ATTENDANCE" type="radio" th:checked="${#strings.equals(attendance.changeTypeToString(), 'ATTENDANCE')}"></td>
                      <td><input th:name="states+'['+${index.index}+'].attendanceType'" value="ABSENCE" type="radio" th:checked="${#strings.equals(attendance.changeTypeToString(), 'ABSENCE')}"></td>
                      <td><input th:name="states+'['+${index.index}+'].attendanceType'" value="LATENESS" type="radio" th:checked="${#strings.equals(attendance.changeTypeToString(), 'LATENESS')}"></td>
                      <input th:name="states+'['+${index.index}+'].attendanceId'" th:value="${attendance.attendanceId}" hidden>
                    </tr>
                    <button type="submit">수정 완료</button>
                  </form>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <td><input name="attendanceState" value="lateness" type="radio"></td>

  <div id="sidebar" th:include="layout/sideBar.html">

  </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</body>

</html>
