<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Ramayana - HTML5 Template</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<div id="wrapper">

    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="index.html">LMS System</a>
                </div>
            </header>
            <div>아이디 찾기 결과</div>
            <table class="table table-hover">
                <tr>
                    <th th:if="${#strings.length(hiddenID) > 0}">
                        <div th:text="|아이디는 ${hiddenID} 입니다.|"></div>
                        <button type="button" onclick="location.href='/login-form'">로그인 페이지로 이동</button>
                        <form action="/find-full-id" method="get">
                            <input type="hidden" name="id" th:value="${id}">
                        <button type="submit">전체 아이디 이메일로 전송 받기</button>
                        </form>
                    </th>
                    <th th:unless="${#strings.length(hiddenID) > 0}">정보와 일치하는 아이디가 없습니다.</th>
                </tr>
            </table>
        </div>

    </div>

    <div id="sidebar" th:include="layout/sideBar.html">


    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>


</body>

</html>
