<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<th:block layout:fragment="script">
    <script type="text/javascript">

        function clickSubmit() {

            const id = $("#id").val();
            const password = $("#password").val();
            const repeatedPassword = $("#repeatedPassword").val();
            const name = $("#name").val();
            const email = $("#email").val();
            const birthDate = new Date($("#birthDate").val().split("-"));
            const postNumber = $("#postNumber").val();
            const roadAddress = $("#roadAddress").val();
            const detailAddress = $("#detailAddress").val();

            if(!wasCheckedId) {
                alert("아이디 중복을 확인해주세요.");
                return;
            }

            if(!(checkPassword(password, repeatedPassword) && checkEmail(email))) {
                return;
            }

            if(!checkName(name)) {
                return;
            }

            if(!checkBirthDate(birthDate)) {
                return;
            }

            if(postNumber.length == 0) {
                alert("주소를 입력해주세요.");
                return;
            }

            let joinForm = {
                            id: id,
                            password: password,
                            name: name,
                            birthDate: birthDate,
                            email: email,
                            address: {
                                postNumber: postNumber,
                                roadAddress: roadAddress,
                                detailAddress: detailAddress
                                }
                            };

            $.ajax({
                type: "post",
                url: "/join/"+$("#memberType").val(),
                data: JSON.stringify(joinForm),
                contentType: "application/json",
                dataType: "text",
                success: function(data) {
                   alert("회원가입이 완료되었습니다.");
                   location.href = "/";
                },
                error: function(request, status, error) {
                   console.log("request : " + request);
                   console.log("status : " + status);
                   console.log("error : " + error);
                }
            });
        }

    </script>
</th:block>


<body class="is-preload">

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="index.html">LMS System</a>
                </div>
            </header>
            <div>회원 가입</div>
                <table class="table table-hover">
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input id="id" /> 영어 소문자, 숫자조합 4~15자
                        </td>
                        <td>
                            <button type="button" onclick="checkId()">중복확인</button>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input type="password" id="password"/> 영어 대/소문자, 숫자, 특수문자 조합 8~12자
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td><input type="password" id="repeatedPassword"/></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input id="name"/></td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td><input type="date" id="birthDate"/></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input id="email"/></td>
                    </tr>
                    <tr>
                        <th>우편번호</th>
                        <td>
                            <input type="hidden" id="confmKey" name="confmKey" value=""  >
                            <input type="text" id="postNumber" readonly style="width:100px">
                            <input type="button"  value="주소검색" onclick="goPopup();">
                        </td>
                    </tr>
                    <tr>
                        <th>도로명주소</th>
                        <td><input type="text" id="roadAddress" style="width:85%"></td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td>
                            <input type="text" id="detailAddress" style="width:80%" value="">
                        </td>
                    </tr>
                </table>
                <div>
                    <button type="submit" onclick="clickSubmit()">가입</button>
                    <button type="button" onclick="location.href='/'">취소</button>
                </div>
                <input type="hidden" id="memberType" th:value="${memberType}" >
        </div>
    </div>

    <div id="sidebar" th:include="layout/sideBar.html">


    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/js/joinValidation.js"></script>
</body>


</body>

</html>
