<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="index.html">LMS System</a>
                </div>
            </header>
            <div>비밀번호 찾기 결과</div>
            <table class="table table-hover">
                <tr>
                    <th th:if="${searchResult}">
                        <div>이메일로 임시비밀번호가 전송되었습니다. 이메일을 확인해주세요.</div>
                    </th>
                    <th th:unless="${searchResult}">
                        <div>입력하신 정보를 다시 확인해주세요.</div>
                    </th>
                </tr>
                <tr>
                    <button th:if="${!searchResult}" onclick="location.href='/find-password-form'">뒤로</button>
                    <button type="button" onclick="location.href='/login-form'">로그인 페이지</button>
                    <button type="button" onclick="location.href='/'">메인 페이지</button>
                </tr>
            </table>
        </div>

    </div>

    <div id="sidebar" th:include="layout/sideBar.html">

    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>


</body>

</html>
