<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Ramayana - HTML5 Template</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

</head>

<body class="is-preload">

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="index.html">LMS System</a>
                </div>
            </header>
            <div>비밀번호 찾기</div>
            <table class="table table-hover">
                <form action="/find-password" method="get">
                <tr>
                    <th>이름</th>
                    <td>
                        <input name="name">
                    </td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>
                        <input name="id">
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input name="email">
                    </td>
                </tr>
                <tr>
                    <button type="submit">이메일로 임시 비밀번호 전송받기</button>
                    <button type="button">메인 페이지</button>
                </tr>
                </form>
            </table>
        </div>

    </div>

    <div id="sidebar" th:include="layout/sideBar.html"></div>

</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/transition.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/custom.js"></script>
</body>


</body>

</html>
